<appSettings>
	<add key="DefaultCulture" value="fr-FR"/>
	<!--Entrepot-->
	<add key="ipServeur" value="sv01899"/>
	<add key="portSFTPServeur" value="22"/>
	<add key="idenfitiantSFTPServeur" value="entrepot"/>
	<add key="motDePasseSFTPServeur" value="mdpentrepot"/>
	<!--BDD-->
	<add key="ipBaseOracle" value="10.11.12.13"/>
	<add key="utiliserTns" value="False"/>
	<add key="portBaseOracle" value="1111"/>
	<add key="serviceNameOracle" value="aaa"/>
	<add key="userBaseOracle" value="bbb"/>
</appSettings>